<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
{{!-- materialize --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Sigmar+One&display=swap" rel="stylesheet">>
{{!-- leaflet (map) styles --}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
{{!-- local css file --}}
    <link rel="stylesheet" type= "text/css" href="/css/styles.css">  
		
        <title>
        {{# if loggedin}}
			Welcome {{userName}}
		{{else }}
			Trip Buddy
		{{/if}}
		</title>     
    </head>
    <body>
        <header>   
            <nav  id="bigNav" class="nav-extended">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo center">Trip Buddy</a>
                </div>
                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li><a href="/">Home</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        {{#if loggedin}}
                            <li><a href="/trips">My Trips</a></li>
                            <ul class="nav content-right"></ul>
                        {{/if}}
                    </ul>
                    {{#if loggedin}}
                    <ul class="nav content-right">
					
						<li><a href="/logout">Log Out</a></li>
					{{else }}
						<li><a href="/login">Log In</a></li>
					
                    </ul>
                    {{/if}}
                </div>
            </nav>
        </header> 
<main>
    <div class = "container">
       
        <div class="row">
            <div classs= "col s12">
                {{# if loggedin}}
                <h4>Where you headed {{userName}}? </h4>
                    {{else }}
                    <p>Login or Create an Account to plan your trip!</p>
                    {{/if}}
            </div>
            {{{body}}}
        </div>
    </div>
</main>

<footer class="page-footer">    
    <div class="footer-copyright">
        <div class="container">
            © 2020 Ballers Shot-Callers
            <a class="grey-text text-lighten-4 right" target="blank" href="https://github.com/evwhite2/Group2Project">Development</a>
        </div>
    </div>
</footer>    

{{!-- jquery --}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{{!-- leaflet --}}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
{{!-- local js file --}}
    <script src = "/js/index.js"></script>


    </body>
</html>