<html>
    <head>
            <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

{{!-- materialize --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{{!-- leaflet (map) styles --}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
{{!-- local css file --}}

		<title>
        {{# if loggedin}}
			Welcome {{userName}}
		{{else }}
			NodeJS
		{{/if}}
		</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" type= "text/css" href="/public/css/styles.css">       
    </head>
    <body class="container">
        <div class="page-header">
            <h1>Trip Buddy</h1>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        {{# if loggedin}}
                            <li><a href="/trips">My Trips</a></li>
                        {{/if}}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
					{{# if loggedin}}
						<li><a href="/logout">Log Out</a></li>
					{{else }}
						<li><a href="/login">Log In</a></li>
					{{/if}}
                        
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

<div class="row">
    <div classs= "col s12">
        <h4>Where you headed?</h4>
            {{# if loggedin}}
            Testing<!--show ability to search citie & maybe saved trips-->
            {{else }}
            <p>Login or Create an Account to plan your trip!</p>
            {{/if}}
    </div>
</div>

       {{{body}}}

<footer class="page-footer">    
    <div class="footer-copyright">
        <div class="container">
            © 2020 Ballers Shot-Callers
            <a class="grey-text text-lighten-4 right" target="blank" href="https://github.com/evwhite2/Group2Project">Development</a>
        </div>
    </div>
</footer>    

{{!-- jquery --}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{{!-- leaflet --}}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
{{!-- local js file --}}
    <script src="/js/index.js"></script>
</body>
    </body>
</html>